<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Pesquisa de Estilos</title>
</head>

<body>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de vendas</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-default" th:href="@{/vendas/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Nova venda</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="container-fluid">	
		<form method="get" th:action="@{/vendas}" th:object="${vendaFilter}">
			
			<div class="row">
				<div class="col-sm-6">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control" id="codigo" th:field="*{codigo}"/>
				</div>
				
				<div class="col-sm-6">
					<label class="control-label" for="status">Status</label>
					<select class="form-control" th:field="*{status}">
						<option value="">Todos os status</option>
						<option th:each="s : ${status}" th:text="${s}" th:value="${s}"></option> 
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-6">
					<label class="control-label">Data de criação</label>
					<div class="form-inline">
						<input type="text" class="form-control" th:field="*{desde}"/>
						<label>até</label>
						<input type="text" class="form-control" th:field="*{ate}"/>
					</div>
				</div>
				
				<div class="form-group col-sm-6">
					<label class="control-label">Valor total</label>
					<div class="form-inline">
						<input type="text" class="form-control" th:field="*{valorMinimo}"/>
						<label>até</label>
						<input type="text" class="form-control" th:field="*{valorMaximo}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<label class="control-label" for="nomeCliente">Nome cliente</label>
					<input type="text" class="form-control" id="nomeCliente" th:field="*{nomeCliente}"/>
				</div>
				
				<div class="col-sm-6">
					<label class="control-label" for="cpfOuCnpj">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpjCliente}"/>
				</div>
			</div>
			
			<br />
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
	</div>
	
	<br />
		
	<div class="table-responsive  bw-tabela-simples">
		
		<table class="table table-hover">
			
			<thead>
				<tr>
					<th>
						<brewer:order page="${pagina}" field="codigo" text="Código"/>
					</th>
					<th>
						<brewer:order page="${pagina}" field="cliente" text="Cliente"/>
					</th>
					<th>Data de criação</th>
					<th>Valor total</th>
					<th>Vendedor</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="venda : ${pagina.conteudo}">
					<td th:text="${venda.codigo}"></td>
					<td th:text="${venda.cliente.nome}"></td>
					<td th:text="${{venda.dataCriacao}}"></td>
					<td th:text="${{venda.valorTotal}}"></td>
					<td th:text="${venda.usuario.nome}"></td>
					<td th:text="${venda.status}"></td>
					<td>
						<a class="btn btn-link btn-xs js-tooltip" title="Editar"
								th:href="@{/vendas/{codigo}(codigo=${venda.codigo})}">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</td>
				</tr>
				
				<tr th:if="${pagina.vazia}">
						<td colspan="7">Nenhuma venda encontrada</td>
				</tr>
			</tbody>
			
		</table>
		
		
<!-- 			<th:block th:replace="/fragments/Paginacao :: pagination (${pagina})"></th:block> -->
		<brewer:pagination page="${pagina}"/>
		
	</div>
		
</section>

</body>
</html>